@import "tailwindcss";

@theme inline {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-afacad), sans-serif;
  --font-mono: var(--font-afacad), monospace;
}

body {
  background: var(--color-background);
  color: #50595a;
  font-family: var(--font-sans);
}
